@import "../scss/variables_overrides";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

// HEADER
header {
  background-image: url("../img/bg-pattern-intro.svg");
  background-position-y: 53%;
  background-position-x: 23%;
  background-color: rgba(255, 143, 113, 1);
  color: white;
  height: 60vh;
  border-bottom-left-radius: 200px;
}

header a.navbar-title {
  position: relative;
  bottom: 5px;
}

header section {
  align-items: center;
}

.title-subtitle {
  z-index: 1;
}

form .login,
.sign {
  position: relative;
  z-index: 1;
}

// MAIN
main section p {
  line-height: 3em;
}
main .article {
  position: relative;
  top: 86px;
}

main p {
  width: 80%;
  text-align: justify;
}

main section:first-child {
  margin-top: 200px;
}

section:first-child .editor-desktop {
  background-image: url("../img/illustration-editor-desktop.svg");
  background-repeat: no-repeat;
  background-position-x: -180%;
  background-position-y: 180%;
  min-height: 882px;
  position: relative;
  top: -200px;
}

section.pattern-circles {
  background-color: rgb(48, 50, 78);
  background-image: url("../img/bg-pattern-circles.svg");
  background-repeat: no-repeat;
  background-position-y: 79%;
  background-position-x: 3.9%;
  min-height: 400px;
  border-bottom-left-radius: 190px;
  border-top-right-radius: 190px;
  margin-bottom: 250px;
}

section.pattern-circles img {
  position: absolute;
  top: -40%;
  left: 29.5%;
}
section.pattern-circles .article_pattern-circles {
  margin-top: 80px;
}
section.pattern-circles p {
  width: 60%;
  text-align: justify;
}
section.laptop-desktop {
  background-image: url("../img/illustration-laptop-desktop.svg");
  background-repeat: no-repeat;
  background-position-x: -27.5%;
  min-height: 882px;
}
section.laptop-desktop .article {
  position: relative;
  top: 185px;
} 
section.laptop-desktop .article p {
  width: 80%;
  text-align: justify;
}


// FOOTER 
footer {
  background-color: rgb(44, 45, 59);
  color: white;
  min-height: 30vh;
  border-top-right-radius: 140px;
}

footer p {
  font-weight: bold;
}

footer li {
  margin-bottom: 20px;
}

footer li:first-child {
  margin-top: 50px;
}

.title {
  position: relative;
  bottom: 17px;
}